<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <php>
         <env name="OAUTH_TOKEN" value="auth_token"/>
        <env name="OAUTH_URL" value=""/>
        <env name="ClientId" value=""/>
        <env name="SecretKey" value=""/>
	    <env name="AccessType" value=""/><!-- change value of AccessType to 'token', if using OAUTH_TOKEN for Authentication -->
        <env name="ApiSchema" value=""/>
        <env name="ApiHost" value=""/>

    </php>

    <testsuites>
        <testsuite name="Pdf4me API Live Test Suites">
            <directory>./tests/Pdf4me/API/LiveTests</directory>
        </testsuite>
    </testsuites>
</phpunit>
